In [1]:
import sys
import time

import pymonetdb

sys.path.append('../config/')
from config import config

In [2]:
params = config(section='monetdb')
conn = pymonetdb.connect(
    database=params["database"],
    hostname=params["hostname"],
    username=params["username"],
    password=params["password"])
cur = conn.cursor()
cur.arraysize = 100

In [3]:
cur.execute("""
    SELECT COUNT(*)
    FROM "crimestatsocial";""")
cur.fetchall()

[(27384,)]

In [4]:
cur.execute("""
    SELECT "year", COUNT("year")
    FROM "crimestatsocial"
    GROUP BY "year";""")
cur.fetchall()

[(2016, 3948),
 (2015, 3990),
 (2014, 3990),
 (2013, 3864),
 (2012, 3864),
 (2011, 3864),
 (2010, 3864)]

In [5]:
command = """
        SELECT "group_id", "year", COUNT("group_id")
        FROM "crimestatsocial"
        WHERE "year"=2016
        GROUP BY "group_id", "year";"""

In [6]:
%timeit cur.execute(command)

6.55 ms ± 597 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [7]:
cur.close()
conn.close()